<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Induction Helper!</h1>
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="/admin/">Admin Page</a></li>
                <li><a href="/databaseUser/">Database Users Page</a></li>
                <li><a href="/databaseUser/create/">Create User</a></li>
                <li><a href="/Equipment/">Equipment List</a></li>
                <li><a href="/Equipment/create">Create Equipment</a></li>
                <li><a href="/Category/">Category List</a></li>
                <li><a href="/Category/create">Create Category</a></li>
                <li><a href="/Induction/">Induction List</a></li>
                <li><a href="/Induction/create">Create Induction</a></li>
                <li><a href="/Catalog/">Catalog List</a></li>
                <li><a href="/Catalog/create">Create Catalog</a></li>
                <li><a href="/login/">User Login</a></li>
                <li><a href="/upload/users">Upload Users CSV</a></li>
            </ul>
        </nav>
    </main>
</body>
</html>
